
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>

<form id="ajaxform" action="/" method="POST" enctype="multipart/form-data">
<div>
    <label for="file1">파일</label>
    <input type="file" id="file1" name="file1">
    <button id="btn_submit" onclick="javascript:fn_submit()">전송</button>
</div>

<div>
       <div class="img_wrap">
           <img id="img" />
       </div>
</div>

</form>

<form id="ajax" action="/flower" method="GET" enctype="multipart/form-data">

<div>
    <ul id="flower-list">

    </ul>
</div>
</form>

<script type="text/javascript">
    //이미지 미리보기
    var sel_file;

    $(document).ready(function() {
        $("#file1").on("change", handleImgFileSelect);
    });

    function handleImgFileSelect(e) {
        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);

        var reg = /(.*?)\/(jpg|jpeg|png|bmp)$/;

        filesArr.forEach(function(f) {
            if (!f.type.match(reg)) {
                alert("확장자는 이미지 확장자만 가능합니다.");
                return;
            }

            sel_file = f;

            var reader = new FileReader();
            reader.onload = function(e) {
                $("#img").attr("src", e.target.result);
            }
            reader.readAsDataURL(f);
        });
    }
</script>

<script>
//파일 업로드
function fn_submit(){

        var input-image = new FormData();
        form.append( "file1", $("#file1")[0].files[0] );

         jQuery.ajax({
             url : "/"
           , type : "POST"
           , processData : false
           , contentType : false
           , data : input-image
           , success:function(response) {
               alert("성공하였습니다.");
               console.log(response);
           }
           ,error: function (jqXHR)
           {
               alert(jqXHR.responseText);
           }
       });
}
      $.ajax({
        type: "GET",
        url: "/flowers",
        data: {},
        success: function(responses) {
            console.log(responses)
            for (let i = 0; i < responses.length; i++) {
                let flower = responses[i];
                $("#flower-list").append(
                `<li> 품목 : 가격 : ${flower["cost"], ${flower["poomname"]}, 품종 : ${flower["goodname"]}, 등급 : ${flower["lvname"]}, ${flower["poomname"]}, 수량 : ${flower["qty"]}</li>`
                 )
            }
        }
      })
</script>
</body>
</html>
